/* body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
    color: rgba(255,255,255,.7);
    text-transform: uppercase;
}
.wrapper{
    width: 100%;
}
ul.topnav {
    list-style-type: none;
    overflow: hidden;
    background-color: #080808;
    margin-top: 20px;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color:rgba(221, 220, 220, 0.7);
    text-align: center;
    font-size: 14px;
    padding: 14px 0px 16px 0px;
    text-decoration: none;
}
.topnav{
    padding-inline-start: 0px;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: rgb(45, 45, 45);}

ul.topnav li.right,

ul.topnav li {float: none;}



.showcase_title{ 
    padding-top: 30px;
    padding-left: 10px;
    font-family: bebas-neue, sans-serif;
    font-style: normal;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 400;
    margin: 0px;
}
.subtitle{ 
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.showcase_text{ 
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-weight: 400px;
    letter-spacing: 0px;
    font-size: 12px;
    text-align: justify;
}
.image{ 
    padding-left: 10px;
    padding-right: 10px;
}
img{ 
    width: 95%;
    max-width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.footer{
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #080808;
    text-align: center;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .wrapper{
        width: 700px;
        margin: 0 auto;
    }
    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        background-color: #080808;
        margin-top: 20px;
    }
    ul.topnav li {float: left;}
    ul.topnav li a {
        display: block;
        color:rgba(221, 220, 220, 0.7);
        text-align: center;
        font-size: 14px;
        padding: 14px 16px;
        text-decoration: none;
    }
    ul.topnav li a:hover:not(.active) {background-color: #111;}
    ul.topnav li a.active {background-color: rgb(45, 45, 45);}
    ul.topnav li.right {float: right;}
    
    .img{ 
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer{
        margin-top: 50px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #080808;
        text-align: center;
        font-size: 12px;
    }

}



@media only screen and (min-width: 1000px) {
    .wrapper{
        width: 1000px;

    }



}

 */
