body {
    background-color: #000000;
    font-family: 'Source Code Pro', monospace;
    color: rgba(255,255,255,.7);
    text-transform: uppercase;
    margin-left: 250px;
    margin-right: 250px;


}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #080808;
    margin: 0px;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color:rgba(255,255,255,.7);
    text-align: center;
    font-size: 14px;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: rgb(45, 45, 45);}

ul.topnav li.right {float: right;}


@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

h1{
    margin: 0px;
    font-size: 50px;
    font-weight: 400;
}
.showcase{
    margin-top: 50px;
    font-family: bebas-neue, sans-serif;
    font-style: normal;
    letter-spacing: 5px;
    
}
.showcase-text{
    padding-bottom: 20px;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-weight: 400px;
    letter-spacing: 0px;
    font-size: 12px;
    text-align: justify;

}


.video-text{
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
}
#recent{
    padding-bottom: 0px;
    height: 100%;
    overflow: hidden;
}
.recent-work{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 2px;
}
.title{
    padding-top: 0px;
    margin: 0px;
    font-size: 16px;
}
.one {
    padding-top: 10px;
    float: left;
    font-size: 12px;
    text-align: justify;

}
.two {
    padding-top: 10px;
    float: left;
    font-size: 12px;
    text-align: justify;
    
}
.three {
    padding-top: 10px;
    float: left;
    font-size: 12px;
    text-align: justify;
}

img {
    padding-right: 20px;
    width: 100%;
    max-width: 150PX;
    height: auto;
}


.footer{
    margin-top: 200px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    background-color: #080808;
    text-align: center;
    font-size: 12px;
}

@media only screen and (min-width: 768){
    body {
        margin: 0;
        width: 100%;
    }
}